/*#B7B6C1
*/
body{
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
}
#desktop{
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:1000px;
    background-size:cover;
}

.icon{
    width:50px;
    height:50px;
    margin-left:50px;
    margin-top:50px;
    background-size:contain;
    cursor:pointer;
}
.thumbnail{
    margin-left:5px;
    margin-top:5px;
    float:left;
    border-style:solid;
    border-width:1px;
    border-color:black;
    border-radius:5px;
    background-position:center;
    background-repeat:no-repeat;
    width:200px;
    height:80px;
    cursor:pointer;
}

.popup{
    background-color:#94958B;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    border-width:1px;
}

.topBar{
    width:100%;
    height:5%;
    background-color:#464655;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.headline{
    margin-left:5px;
    margin-top:2px;
    height:35px;
    float:left;
}

.headlineIcon{
    float:left;
    margin-left:2px;
    margin-top:2px;
    height:30px;
    width:30px;
    background-size:contain;
}

.headlineText{
    float:left;
    color:white;
    line-height:30px;
    margin-top:2px;
    margin-left:5px;
}

.closeButton{
    text-align:center;
    line-height:30px;
    color:white;
    margin-top:5px;
    margin-right:5px;
    height:30px;
    width:30px;
    background-color:black;
    float:right;
    cursor:pointer;
}

.closeButton:hover{
    cursor:pointer;
}

.popupContent{
    width:100%;
    height:90%;
    background-color:#94958B;
    overflow:scroll;
}

.bottomBar{
    width:100%;
    height:5%;
    background-color:#464655;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px; 
}

.status {
    margin-left:5px;
    margin-top:2px;
    height:35px;
    float:left;
    background-image: url("images/ajax-loader.gif");
}

.ajaxLoader{
    float:left;
    margin-left:2px;
    margin-top:2px;
    height:30px;
    width:30px;
    background-color:blue;
    background-size:contain;
    background-image: url("images/ajax-loader.gif");
}

.statusText{
    float:left;
    margin-left:5px;
    margin-top:2px;
    color: white;
    line-height:30px;
}

.hidden{
    display:none;
}
