/*#B7B6C1
*/
body{
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
}
#desktop{
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:1000px;
    background-size:cover;
}

.icon{
    width:50px;
    height:50px;
    margin-left:50px;
    margin-top:50px;
    background-size:contain;
    cursor:pointer;
}

.popup{
    background-color:#94958B;
    border-radius:5px;
    border-style:solid;
    border-color:black;
    border-width:1px;
}

.topBar{
    width:100%;
    height:5%;
    background-color:#464655;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.headline{
    margin-left:5px;
    margin-top:2px;
    height:35px;
    float:left;
}

.headlineIcon{
    float:left;
    margin-left:2px;
    margin-top:2px;
    height:30px;
    width:30px;
    background-size:contain;
}

.headlineText{
    float:left;
    color:white;
    line-height:30px;
    margin-top:2px;
    margin-left:5px;
}

.closeButton{
    text-align:center;
    line-height:30px;
    color:white;
    margin-top:5px;
    margin-right:5px;
    height:30px;
    width:30px;
    background-color:black;
    float:right;
    cursor:pointer;
}

.closeButton:hover{
    cursor:pointer;
}

.popupContent{
    width:100%;
    height:90%;
    background-color:#94958B;
    overflow:scroll;
}

.bottomBar{
    width:100%;
    height:5%;
    background-color:#464655;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px; 
}

.container{
    background-color:#94958B;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-bottom-right-radius:10px;
    border-style:solid;
    border-color:gray;
}
.tab{
    color:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-size:16px;
    height:30px;
    position:absolute;
    background-color:#464655;
    text-align:center;
    -webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    -ms-transition:all .5s ease-out;
    -o-transition:all .5s ease-out;
    transition:all .5s ease-out;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding:0px;
}

.tabActive{
    color:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    -webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    -ms-transition:all .5s ease-out;
    -o-transition:all .5s ease-out;
    transition:all .5s ease-out;
    font-size:16px;
    height:30px;
    position:absolute;
    background-color:#464655;
    text-align:center;
    -webkit-transform: rotate(90deg) translate(0px, -400px);
    -moz-transform: rotate(90deg) translate(0px, -400px);
    -ms-transform: rotate(90deg) translate(0px, -400px);
    -o-transform: rotate(90deg) translate(0px, -400px);
    transform: rotate(90deg) translate(0px, -400px); 
    padding:0px;
}
